@model List<NewPracticeProject.Models.ViewModel.AuditHistoryViewModel>


<h2>Audit History</h2>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Action</th>
            <th>Timestamp</th>
            <th>Employee Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var audit in Model)
        {
            <tr>
                <td>@audit.UserId</td>
                <td>@audit.Action</td>
                <td>@audit.Timestamp</td>
                <td>@audit.EmployeeName</td>
                <td>@audit.Details</td>
            </tr>
        }
    </tbody>
</table>


<div class="text-center">
    <a class="btn btn-dark btn-sm mt-5" asp-action="DownloadExcel" asp-controller="AuditDownload">Download All User Audit History (Excel)</a>
</div>
